<!--The content below is only a placeholder and can be replaced.-->
<app-top-header></app-top-header>
<div>

    Jump to navigationJump to search
    Welcome to Wikipedia,
    the free encyclopedia that anyone can edit.
    5,826,131 articles in English
    ArtsBiographyGeographyHistoryMathematicsScienceSocietyTechnologyAll portals
    From today's featured article
    West facade of Saint Fin Barre's Cathedral
    Saint Fin Barre's Cathedral is a Gothic revival cathedral in Cork, Ireland, whose modern building was completed in 1879, and belongs to the Church of Ireland. The cathedral is dedicated to Finbarr of Cork, patron saint of the city, who may have founded a monastery on the grounds in the seventh century. During the medieval period, the site underwent repeated construction and damage. Fin Barre's rebuilding was commissioned in the mid-19th century as the first major project for the Victorian architect William Burges, who designed most of its architecture, interior sculpture, stained glass, mosaics and interior furniture. Many of the external sculptures, including the gargoyles, were modeled by Thomas Nicholls. The exterior is capped by three spires, and is mostly built from local stone. The main entrance contains representations of over a dozen biblical figures, capped by a tympanum showing a Resurrection scene. (Full article...)
    
    Recently featured: Tom Thomson Planar transmission line Packers sweep
    Archive By email More featured articles
    Did you know...
    Andy Nisbet
    Andy Nisbet
    ... that mountaineer Andy Nisbet (pictured) created more than 1,000 new winter climbing routes in Scotland?
    ... that Arvo Pärt composed the motet The Deer's Cry on a commission from Louth, Ireland, setting the conclusion of Saint Patrick's Breastplate, "Christ with me"?
    ... that Indian activist S. Dharmambal was honoured as a Heroic Tamil Mother for her contributions to the Tamil language?
    ... that the upcoming Dr. Seuss book Horse Museum features horse-themed artwork by Pablo Picasso, Jackson Pollock, and other artists?
    ... that Xu Shunshou, chief designer of China's first jet aircraft, died after being tortured during the Cultural Revolution?
    ... that 3,000-year-old Ancient Egyptian pictures of foreign prisoners were found by fertilizer-diggers in 1903?
    ... that the tasselled anglerfish is an ambush predator, attracting its prey with a worm-like lure?
    ... that after switching from black-and-white to color film in 1977, John Harding was out on the street taking pictures almost every day for more than three decades?
    Archive Start a new article Nominate an article
    In the news
    Intense Tropical Cyclone Idai on 14 March, shortly after reaching its peak intensity
    Cyclone Idai
    Flash floods and winds caused by Cyclone Idai (satellite image shown) kill at least 205 people in Mozambique, Malawi, Zimbabwe, and South Africa.
    At least 50 people are killed in shootings at the Al Noor Mosque and the Linwood Islamic Centre, in Christchurch, New Zealand.
    Following the crash of Ethiopian Airlines Flight 302 with the loss of all 157 people on board, Boeing 737 MAX aircraft are grounded worldwide.
    Two gunmen invade a school in Suzano, São Paulo, Brazil, killing at least 8 people.
    Ongoing: Battle of Baghuz Fawqani Brexit negotiations Venezuelan presidential crisis and blackout
    Recent deaths: W. S. Merwin Charlie Whiting Xing Shizhong Hal Blaine William Powers Jr.
    Nominate an article
    On this day
    March 17: Saint Patrick's Day
    
    Golda Meir
    Golda Meir
    455 – After arranging for the assassination of Valentinian III, Petronius Maximus secured the throne of the Western Roman Empire, only to be killed 11 weeks later during the sack of Rome.
    1677 – Franco-Dutch War: France captured the town of Valenciennes in the Spanish Netherlands.
    1860 – The First Taranaki War began at Waitara, marking an important phase of the New Zealand Wars.
    1969 – Golda Meir (pictured) became the first female Prime Minister of Israel.
    1979 – The Penmanshiel Tunnel in the Scottish Borders region of Scotland collapsed during refurbishing construction, killing two workers, and leading to the abandonment of the tunnel.
    Edith New (b. 1877) · Toni Preckwinkle (b. 1947) · Shu Xiuwen (d. 1969)
    
    More anniversaries: March 16 March 17 March 18
    Archive By email List of historical anniversaries
    Today's featured picture
    MS Marina	
    MS Marina is a cruise ship which was constructed at Fincantieri's Sestri Ponente yards in Italy for Oceania Cruises. Launched in 2011, Marina is the first in a duo of cruise ships, the other being MS Riviera, which entered service the following year. Marina was designed by Norwegian architectural firm Yran & Storbraaten and has a diesel-electric powerplant with a pair of fixed pitch propellers. As part of its construction, a U.S. silver dollar coin and a pre-Castro Cuban peso coin were welded into the keel; according to shipbuilding tradition, it is believed to bring fortune to the ship, its passengers and crew.
    
    Photograph: Christian Ferrer
    
    Recently featured: Advanced Test Reactor Woman Reading a Letter Simone Biles
    Archive More featured pictures
    Other areas of Wikipedia
    Community portal – Bulletin board, projects, resources and activities covering a wide range of Wikipedia areas.
    Help desk – Ask questions about using Wikipedia.
    Local embassy – For Wikipedia-related communication in languages other than English.
    Reference desk – Serving as virtual librarians, Wikipedia volunteers tackle your questions on a wide range of subjects.
    Site news – Announcements, updates, articles and press releases on Wikipedia and the Wikimedia Foundation.
    Village pump – For discussions about Wikipedia itself, including areas for technical issues and policies.
    Wikipedia's sister projects
    Wikipedia is hosted by the Wikimedia Foundation, a non-profit organization that also hosts a range of other projects:
    
    Commons  Commons 
    Free media repository  MediaWiki  MediaWiki 
    Wiki software development  Meta-Wiki  Meta-Wiki 
    Wikimedia project coordination  Wikibooks  Wikibooks 
    Free textbooks and manuals  Wikidata  Wikidata 
    Free knowledge base  Wikinews  Wikinews 
    Free-content news  Wikiquote  Wikiquote 
    Collection of quotations  Wikisource  Wikisource 
    Free-content library  Wikispecies  Wikispecies 
    Directory of species  Wikiversity  Wikiversity 
    Free learning materials and activities  Wikivoyage  Wikivoyage 
    Free travel guide  Wiktionary  Wiktionary 
    Dictionary and thesaurus
    Wikipedia languages
    This Wikipedia is written in English. Started in 2001, it currently contains 5,826,131 articles. Many other Wikipedias are available; some of the largest are listed below.
    
    More than 1,000,000 articles: Deutsch Español Français Italiano Nederlands 日本語 Polski Português Русский Svenska Tiếng Việt 中文
    More than 250,000 articles: العربية Bahasa Indonesia Bahasa Melayu Български Català Čeština Esperanto Euskara فارسی 한국어 Magyar Norsk Română Srpski Srpskohrvatski Suomi Türkçe Українська
    More than 50,000 articles: Bosanski Dansk Eesti Ελληνικά English (simple form) Galego עברית Hrvatski Latviešu Lietuvių മലയാളം Norsk nynorsk Slovenčina Slovenščina ไทย
    Complete list of Wikipedias
    Navigation menu
    Not logged inTalkContributionsCreate accountLog inMain PageTalkReadView sourceView historySearch
    Search Wikipedia
    Main page
    Contents
    Featured content
    Current events
    Random article
    Donate to Wikipedia
    Wikipedia store
    Interaction
    Help
    About Wikipedia
    Community portal
    Recent changes
    Contact page
    Tools
    What links here
    Related changes
    Upload file
    Special pages
    Permanent link
    Page information
    Wikidata item
    Print/export
    Create a book
    Download as PDF
    Printable version
    In other projects
    Wikimedia Commons
    MediaWiki
    Meta-Wiki
    Wikispecies
    Wikibooks
    Wikidata
    Wikinews
    Wikiquote
    Wikisource
    Wikiversity
    Wikivoyage
    Wiktionary
    
    Languages
    العربية
    Български
    Bosanski
    Català
    Čeština
    Dansk
    Deutsch
    Eesti
    Ελληνικά
    Español
    Esperanto
    Euskara
    فارسی
    Français
    Galego
    한국어
    Hrvatski
    Bahasa Indonesia
    Italiano
    עברית
    ქართული
    Latviešu
    Lietuvių
    Magyar
    Bahasa Melayu
    Nederlands
    日本語
    Norsk
    Norsk nynorsk
    Polski
    Português
    Română
    Русский
    Simple English
    Slovenčina
    Slovenščina
    Српски / srpski
    Srpskohrvatski / српскохрватски
    Suomi
    Svenska
    ไทย
    Türkçe
    Українська
    Tiếng Việt
    中文
    Complete list
    Text is available under the Creative Commons Attribution-ShareAlike License; additional terms may apply. By using this site, you agree to the Terms of Use and Privacy Policy. Wikipedia® is a registered trademark of the Wikimedia Foundation, Inc., a non-profit organization.
    Privacy policyAbout WikipediaDisclaimersContact WikipediaDevelopersCookie statementMobile viewWikimedia Foundation Powered by MediaWiki
    
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
